
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    $(document).ready(function () {
        $(function () {
            var liveStream = $.connection.notificationHub;;
            liveStream.client.send = function (data) {
                showPopup("success", data, data);
            };
            $.connection.hub.start();
        });
    });
</script>
